/* Hide annoying buttons (gift nitro and stickers) */
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"]
{
    display: none;
}

/* 
* Hides the useless and ugly [+] next to categories.
* (if u have chanel creation perms) 
*/
:root .children_d18c7d {
  display: none;
}

/* simple list hover animations (by @refact0r) */
.wrapper__612a5 .link_ddbb36 /* channels */,
.container_a48b21 /* members */,
.channel__0aef5 /* dms */,
.side_b4b3f6 .item__48dda /* settings */ {
    transition: margin-left 0.2s ease;
}
.wrapper__612a5:hover .link_ddbb36,
.side_b4b3f6 .item__48dda:hover {
    margin-left: 10px;
}
.container_a48b21:hover,
.channel__0aef5:hover {
    margin-left: 18px;
}

/* Hides the annoying "NEW" badge for the shop */
.textBadge_f05120{
  display: none;
}