/* Old Discord Font (not needed if you use my theme)*/
@import url(https://cdn.jsdelivr.net/gh/Overimagine1/old-discord-font/source.min.css);

/* Attachment X next to attachment */
.messageAttachmentNoJustify-lIzP9c { justify-self: start !important; }

/* Hide annoying buttons (gift nitro and stickers) */
button[aria-label="Send a gift"],
button[aria-label="Open sticker picker"]
{
    display: none;
}

/* 
* Hides the useless and ugly [+] next to categories.
* (if u have channel creation perms) 
*/
:root .children_d4d259 {
  display: none;
}

/* Hide user voice channel status */
:root .icons__10dd7 {
  display: none;
}
