/**
* @name Omnibar++
* @author @dablulite (Modded by itsDavid3)
* @description A combined Guild bar and User area
* https://github.com/DaBluLite/css-snippets/tree/master/Omnibar
*/

/* Animations */
:root .wrapper__9916c foreignObject {
  border-radius: var(--server-radius);
  transition: .2s;
}

:root .wrapper__9916c:hover foreignObject {
  --server-radius: 10px;
  transition: .2s;
}

.container_debb33 .button__581d0 {
  width: 48px;
  height: 48px;
  border-radius: var(--server-radius);
  transition: .2s;
  --bg-over: rgb(var(--bg-overlay-color-inverse)/var(--bg-overlay-opacity-6));
  background: var(--bg-over, var(--background-primary)) !important;
}

.container_debb33 .button__581d0:hover {
  border-radius: 10px;
  transition: .2s;
  background-color: var(--brand-experiment);
  color: var(--interactive-active);
}

.container_debb33 .avatarWrapper__500a6 .svg_a6bf1c .avatar__991e2 {
  border-radius: 25px;
  transition: .2s !important;
}

.container_debb33 .avatarWrapper__500a6:hover .svg_a6bf1c .avatar__991e2 {
  border-radius: 10px;
  transition: .2s;
}
/* **** */


.guilds__2b93a {
  margin-bottom: 200px;
  box-sizing: border-box;
}

.container_debb33 {
  position: absolute;
  bottom: 0;
  left: -72px;
  background: none !important;
  height: 183px;
  width: 72px;
  flex-direction: column;
  padding: 0;
  box-sizing: border-box;
  margin-bottom: 0;
}

.container_debb33>.flex_f18b02 {
  flex-direction: column;
}

.sidebar_e031be,
.base_c0676e,
.panels__58331 {
  overflow: visible !important;
}

.base_c0676e {
  width: calc(100% - 72px);
}

.container_debb33 .avatarWrapper__500a6 .nameTag__77ab2 {
  display: none;
}

.container_debb33 .avatarWrapper__500a6 .avatar_f8541f {
  width: 43px !important;
  height: 43px !important;
}

.container_debb33 .svg_a6bf1c {
  width: 43px !important;
  height: 43px !important;
}

.container_debb33 .svg_a6bf1c> :is(svg, .pointerEvents__585e6) {
  display: none;
}

.container_debb33 .svg_a6bf1c,
.container_debb33 .svg_a6bf1c>foreignObject {
  mask: none !important;
}

.container__7e23c,
.privateChannels__9b518 {
  border-top-left-radius: 8px;
  overflow: hidden;
}

.container_debb33:has(.flex_f18b02 .button__581d0:nth-of-type(4)) {
  height: calc(227px + 56px) !important;
}

.guilds__2b93a:has(~ .base_c0676e .container_debb33 .flex_f18b02 .button__581d0:nth-of-type(4)) {
  margin-bottom: calc(227px + 56px) !important;
}


:root .panels__58331>.container_debb33>.avatarWrapper__500a6 {
  position: fixed;
  bottom: 25px;
  left: 324.5px;
  z-index: 2;
  margin: 0;
  padding: 0;
  min-width: unset;
}

:root .panels__58331>.container_debb33>.avatarWrapper__500a6>.avatar_f8541f>svg {
  contain: unset;
}

:root .panels__58331>.container_debb33>.avatarWrapper__500a6>.avatar_f8541f foreignObject {
  width: 100% !important;
  height: 100% !important;
}

:root .panels__58331>.container_debb33>.avatarWrapper__500a6>.avatar_f8541f:hover {
  opacity: 1;
}

:root .panels__58331>.container_debb33>.avatarWrapper__500a6>.avatar_f8541f+.nameTag__77ab2 {
  display: none;
}

:root .panels__58331 {
  z-index: 2;
}

:root .panels__58331>.container_debb33 {
  height: 0;
}

:root .panels__58331>.container_debb33>.flex_f18b02 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 72px;
  padding: 20px 0 10px 0;
  flex-direction: column;
  background: linear-gradient(transparent, var(--background-tertiary) 15%);
}

:root .panels__58331>.container_debb33>.flex_f18b02>.button_ae40a4 {
  color: var(--user-buttons-color);
  margin: var(--user-buttons-spacing) auto 0 auto;
}

:root .chat__52833 .form_d8a4a1 {
  padding-left: 66px;
}

:root .chat__52833 .form_d8a4a1 .channelTextArea_c2094b .scrollableContainer_ff917f::after,
:root .chat__52833 .form_d8a4a1 .wrapper__57349::after {
  position: absolute;
  content: "";
  bottom: 2px;
  left: -50px;
  width: 40px;
  height: 40px;
  background-color: var(--background-secondary);
  border-radius: calc(var(--avatar-radius) + 2px);
}

/*******************/